---
---

<nav class="hidden space-x-6 md:flex">
  <a
    href="/"
    class="font-medi rounded-lg px-3 py-2 text-lg text-slate-700 hover:bg-slate-100 hover:text-slate-900 dark:text-white dark:hover:bg-slate-100 dark:hover:text-slate-900"
    >Home</a
  >
  <a
    href="/posts/"
    class="font-medi rounded-lg px-3 py-2 text-lg text-slate-700 hover:bg-slate-100 hover:text-slate-900 dark:text-white dark:hover:bg-slate-100 dark:hover:text-slate-900"
    >Posts</a
  >
  <a
    href="/projects/"
    class="font-medi rounded-lg px-3 py-2 text-lg text-slate-700 hover:bg-slate-100 hover:text-slate-900 dark:text-white dark:hover:bg-slate-100 dark:hover:text-slate-900"
    >Projects</a
  >
  <a
    href="/publications/"
    class="font-medi rounded-lg px-3 py-2 text-lg text-slate-700 hover:bg-slate-100 hover:text-slate-900 dark:text-white dark:hover:bg-slate-100 dark:hover:text-slate-900"
    >Publications</a
  >
  <a
    href="/about/"
    class="font-medi rounded-lg px-3 py-2 text-lg text-slate-700 hover:bg-slate-100 hover:text-slate-900 dark:text-white dark:hover:bg-slate-100 dark:hover:text-slate-900"
    >About</a
  >
</nav>
