---
import { getCollection } from 'astro:content';
import orderBy from 'lodash';

import Project from '@/components/Project.astro';
import BaseLayout from '@/layouts/BaseLayout.astro';
let allProjects = await getCollection('projects');
// @ts-expect-error lodash types are not updated
allProjects = orderBy(allProjects, 'data.launchYear', 'desc');
const pageTitle = 'Projects';
---

<BaseLayout pageTitle={pageTitle}>
  <h1 class="mb-10 text-5xl font-bold">Projects</h1>

  <div class="space-y-4 sm:grid sm:grid-cols-2 sm:gap-4 sm:space-y-0 md:mt-12 lg:grid-cols-4 xl:gap-8">
    {allProjects.map(project => <Project {...project.data} />)}
  </div>
</BaseLayout>
